body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  max-width: 378px;
  height: 718px;
  margin: 0 auto;
}

header {
  width: 375px;
  height: 48px;
  top: 44px;
  padding: 3%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.logo {
  display: flex;
  align-self: flex-end;
  list-style: none;
}

.union {
  list-style: none;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  font-style: normal;
  color: #172b4d;
}

.body-text {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #344563;
}

.headline {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  background-image: url(/images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #7f8cff;
  text-transform: uppercase;
  margin-bottom: 0;
  list-style: none;
}

.socials {
  display: flex;
  justify-content: space-between;
  max-width: 150px;
  list-style: none;
  padding-inline-start: 0;
}

.icons > img:hover {
  box-shadow: 2px 3px 5px 1px blue;
}
